<material-dialog>
  <div class="dialog-content">
    <material-linear-progress ng-if="onSearch" style="margin-top: 30px;" mode="indeterminate"></material-linear-progress>
    <material-list>

      <material-item ng-repeat="flightList in flightLists">
        <material-item-content>
          <div class="material-tile-left">
              <h2>{{flightList.aereolinea}}</h2>
          </div>
          <div class="material-tile-content" ng-repeat="vuelo in flightList.vuelo">
            <h3>{{vuelo.numero}}</h3>
            <p>
              {{vuelo.fecha}}
            </p>
            <p>
              {{vuelo.origen}}
            </p>
            <p>
              {{vuelo.destino}}
            </p>
            <p>
              {{vuelo.hora}}
            </p>
            <p>
              {{vuelo.precio}}
            </p>
            <p>
              {{vuelo.fecha}}
            </p>
          </div>
        </material-item-content>
      </material-item>
    </material-list>
  </div>
</material-dialog>  