<material-dialog>
  <div class="dialog-content">
    <material-linear-progress ng-if="onSearch" style="margin-top: 30px;" mode="indeterminate"></material-linear-progress>
    <material-list>

      <material-item ng-repeat="flightList in flightLists">
        <material-item-content>
          <div class="material-tile-left">
              <h2>{{flighList.aereolinea}}</h2>
          </div>
          <div class="material-tile-content" ng-repeat="">
            <h3>{{item.who}}</h3>
            <p>
              {{item.notes}}
            </p>
          </div>
        </material-item-content>
      </material-item>
    </material-list>
  </div>
</material-dialog>  