<material-toolbar>

    <div class="material-toolbar-tools">
      <span>Guate Vuelos</span>

      <!-- fill up the space between left and right area -->
      <span flex></span>
       <span ng-show="user.login">Welcome {{user.name}}</span>
      <material-button ng-show="user.login" class="material-button-raised signUp" style=" background-color: #91a7ea;" ng-click="configure($event)">Configurar</material-button>
      <material-button ng-show="user.login" class="material-button-raised signUp" style=" background-color: #91a7ea;" ng-click="logOut()">Cerrar Sesion</material-button>
      <material-button ng-hide="user.login" class="material-button-raised material-button-colored" ng-click="signIn($event)">Iniciar Sesion</material-button>
      <material-button ng-hide="user.login" class="material-button-raised signUp" style=" background-color: #91a7ea;" ng-click="signUp($event)">Registrarse</material-button>
    </div>

  </material-toolbar>
  <material-tabs selected="selectedIndex" center>
   <material-tab ng-class="{active:selectedIndex == 0}" label="Boletos"></material-tab>
   <material-tab ng-class="{active:selectedIndex == 1}" label="Paquetes"></material-tab>
   <material-tab ng-class="{active:selectedIndex == 2}" label="Hoteles"></material-tab>
   <material-tab ng-class="{active:selectedIndex == 3}" label="Tours"></material-tab>
   <material-tab ng-class="{active:selectedIndex == 4}" label="Autos"></material-tab>
   <material-tab ng-class="{active:selectedIndex == 5}" label="Contacto"></material-tab>
   <material-tab ng-show="user.superuser" ng-class="{active:selectedIndex == 6}" label="Configurar Aereolinea"></material-tab>
   <material-tab ng-show="user.superuser" ng-class="{active:selectedIndex == 7}" label="Configurar Aereopuerto"></material-tab>
 </material-tabs>
 <material-content ng-class="{tab1:selectedIndex == 0,tab2:selectedIndex == 1,tab3:selectedIndex == 2,tab4:selectedIndex == 3,tab5:selectedIndex == 4,tab6:selectedIndex == 5}" class="animate-switch-container" ng-switch on="selectedIndex" flex>
    <div class="animate-switch" ng-switch-when="0" layout="horizontal"  ng-controller="billetCtrl" flex>
      <div flex="25" layout="vertical" >
        <material-card style="background-color: #65afff;">
          <h2>Ofertas de Aereos</h2>
          <table>
            <tr class="tableHead">
              <td>Destino</td>
              <td>Precio</td>
            </tr>
            <tr>
              <td>Guate</td>
              <td>{{500.00 | currency}}</td>
            </tr>
            <tr>
              <td>Dinamarca</td>
              <td>{{500.00 | currency}}</td>
            </tr>
            <tr>
              <td>Alemania</td>
              <td>{{500.00 | currency}}</td>
            </tr>
            <tr>
              <td>Italia</td>
              <td>{{500.00 | currency}}</td>
            </tr>
          </table>
        </material-card>
        <material-card style="background-color: #65afff;">
          <h2>Paquetes en Oferta</h2>
          <table>
            <tr class="tableHead">
              <td>Destino</td>
              <td>Desde</td>
            </tr>
            <tr>
              <td>Guate</td>
              <td>{{800.00 | currency}}</td>
            </tr>
            <tr>
              <td>Guate</td>
              <td>{{500.00 | currency}}</td>
            </tr>
            <tr>
              <td>Guate</td>
              <td>{{500.00 | currency}}</td>
            </tr>
            <tr>
              <td>Guate</td>
              <td>{{500.00 | currency}}</td>
            </tr>
          </table>
        </material-card>
      </div>
      <material-card style="background-color: #65afff;width: 100%;height:340px;">
        <h2>Busca Tu Vuelo</h2>
        <form style="padding-left: 20px;" name="search">
          
          <!--<ui-select ng-model="address.selected"
             theme="select2"
             ng-disabled="disabled"
             reset-search-input="false"
             style="width: 300px;">
            <ui-select-match placeholder="Origen...">{{$select.selected.formatted_address}}</ui-select-match>
            <ui-select-choices repeat="address in addresses track by $index"
                     refresh="refreshAddresses($select.search)"
                     refresh-delay="0">
              <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <ui-select ng-model="address.selected"
             theme="select2"
             ng-disabled="disabled"
             reset-search-input="false"
             style="width: 300px;">
            <ui-select-match placeholder="Destino...">{{$select.selected.formatted_address}}</ui-select-match>
            <ui-select-choices repeat="address in addresses track by $index"
                     refresh="refreshAddresses($select.search)"
                     refresh-delay="0">
              <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>-->
          <select ui-select2 name="origen" ng-model="origen" data-placeholder="Origen" ng-required="true">
              <option value=""></option>
              <option ng-repeat="place in places" ng-show="destino != place.id" value="{{place.id}}">{{place.name}}</option>
          </select>
          <select ui-select2 name="destino" ng-model="destino" data-placeholder="Destino" ng-required="true">
              <option value=""></option>
              <option ng-repeat="place in places" ng-show="origen != place.id" value="{{place.id}}">{{place.name}}</option>
          </select>
          <material-input-group class="material-input-group-theme-light material-input-group-inverted" ng-class="{'material-input-has-value':fecha}">
            <material-input name="fecha" id="fecha" ui-date="{minDate:0}" type="text" ng-model="fecha" style="width:100%;margin-top: 20px;" placeholder="Fecha" ng-required="true">
          </material-input-group>
          <material-button style="margin-top: 25px;float: right;" class="material-button-raised material-button-colored" ng-disabled="search.$error.required || search.fecha.$error.required" ng-click="searchFlight($event)">Buscar</material-button>
        </form>
      </material-card>
    </div>
    <div class="animate-switch" ng-switch-when="1">
      <!-- PAQUETES-->

     <div ng-controller="PackCtrl as packs">
          <li ng-repeat="products in packs.products">
            <material-card style="background-color: #2ECCFA;">
              <h4>Paquete</h4>          
              <blockquote>{{products.promocion}}</blockquote>
             <h4>Description</h4>
              <blockquote>{{products.pack}}</blockquote>
             <h4>Precio</h4>      
            <blockquote>{{products.price}}</blockquote>
              <img ng-src="{{products.image}}" />
            <material-button style="margin-top: 25px;float: right;" class="material-button-raised material-button-colored" ng-disabled="true">Reservar</material-button>
          </material-card>
          </li>
        </div>
      </div>
    </div>
    <div class="animate-switch" ng-switch-when="2">
      <!-- HOTELES-->
      <div ng-controller="HotelesCtrl as Hoteles">
          <li ng-repeat="products in Hoteles.products">
            <material-card style="background-color: #088A85;">
              <h4>Hotel</h4>          
              <blockquote>{{products.Hotel}}</blockquote>
             <h4>Description</h4>
              <blockquote>{{products.pack}}</blockquote>
             <h4>Precio</h4>      
            <blockquote>{{products.price}}</blockquote>
              <img ng-src="{{products.image}}" />
            <material-button style="margin-top: 25px;float: right;" class="material-button-raised material-button-colored" ng-disabled="true">Reservar</material-button>
          </material-card>
          </li>
        </div>
      </div>
    </div>
    <div class="animate-switch" ng-switch-when="3">
      <!-- TOURS-->
        <div ng-controller="ToursCtrl as tours">
          <li ng-repeat="products in tours.products">
            <material-card style="background-color: #088A29;">
              <h4>Tour</h4>          
              <blockquote>{{products.promocion}}</blockquote>
             <h4>Description</h4>
              <blockquote>{{products.pack}}</blockquote>
             <h4>Precio</h4>      
            <blockquote>{{products.price}}</blockquote>
            <img ng-src="{{products.image}}" />
            <material-button style="margin-top: 25px;float: right;" class="material-button-raised material-button-colored" ng-disabled="true">Reservar</material-button>
          </material-card>
          </li>
        </div>
      </div>
    </div>
    <div class="animate-switch" ng-switch-when="4">
      <!-- AUTOS-->
      <div ng-controller="autosCtrl as autos" class="fonts">
        <li ng-repeat="products in autos.products">
          <material-card style="background-color:#FFFFFF; width: 95%">
            <h4>Marca</h4>          
            <blockquote>{{products.marca}}</blockquote>
           <h4>Description</h4>
            <blockquote>{{products.pack}}</blockquote>
           <h4>Precio</h4>      
          <blockquote>{{products.price}}</blockquote>
          <img ng-src="{{products.image}}" />
          <material-button style="margin-top: 25px;float: right;" class="material-button-raised material-button-colored" ng-disabled="true">Reservar</material-button>
        </material-card>
        </li>
      </div>
    </div>
    <div class="animate-switch" ng-switch-when="5">
      <!-- CONTACTO-->
      <material-toolbar class="material-theme-dark">
      <span class="material-flex">Atencion al Cliente</span>
    </material-toolbar>
      <material-content class="material-content-padding" style="height: 1000px;">
      <material-card style="width: 50%;height:500px; background-color:#119957;margin-right:25px;">
      <p>Si aún no has realizado tu reservación y tienes dudas al respecto, consulta las diferentes secciones del menú de la izquierda para encontrar las respuestas.
        Hemos incluido una serie de preguntas y respuestas que puedes consultar en el apartado de “Consultas frecuentes”.</p>
      <p>Nota: si necesitas comunicarte para cancelar tu reservación, recuerda que sólo atendemos las consultas correspondientes a clientes que hayan realizado reservaciones a través de los sitios web de eDreams o de nuestro Centro telefónico.</p>
      <p>Las reservaciones por teléfono tienen un recargo adicional de 15$.</p>
      <p>Contacto telefónico
      <p>Si por algún motivo tu duda no ha sido resuelta, agradeceríamos que te pongas en contacto con eDreams a través de nuestro <h2>teléfono: +1 (646) 328 4545 </h2>
      Nuevo: Ahora abierto 24 horas al día!</p>
      <h1>We speak English too! Call +1 800 3288 4545</h1>
       
      <h1>Si estás fuera del país llama al  +1 502 4920535</h1>
    </material-card>

    </material-content>
    </div>
    <div class="animate-switch" ng-switch-when="6" ng-controller="superuserCtrl" layout="vertical">
      <div layout="horizontal" style="width:100%;">
        <material-checkbox ng-model="xml">
          XML (desactivar para JSON)
        </material-checkbox>
        <span flex></span>
        <material-button style="margin: 25px;float: right;" class="material-button-raised material-button-colored" ng-click="add($event)">Agregar</material-button>
      </div>
      <material-card style="width: 99%;height:250px; background-color:#119957;margin-right:25px;" ng-repeat="airline in airlines">
        <h2 style="text-align:center;">{{airline.nombre}}</h2>
        <p style="text-align:center;">Codigo: {{airline.codigo}}</p>
        <p style="text-align:center;">host: {{airline.host}}</p>
        <p style="text-align:center;">ext: {{airline.ext}}</p>
        <material-button style="margin: 25px;float: right;" class="material-button-raised material-button-colored" ng-click="edit($event,airline)">Editar</material-button>
        <material-button style="margin: 25px;float: right;" class="material-button-raised material-button-colored" ng-click="delete($event,airline)">Eliminar</material-button>
      </material-card>
    </div>
    <div class="animate-switch" ng-switch-when="7" ng-controller="superuserAirportCtrl" layout="vertical">
      <div layout="horizontal" style="width:100%;">
        <span flex></span>
        <material-button style="margin: 25px;float: right;" class="material-button-raised material-button-colored" ng-click="add($event)">Agregar</material-button>
      </div>
      <material-card style="width: 99%;height:225px; background-color:#96ba82;margin-right:25px;" ng-repeat="airport in airports">
        <h2 style="text-align:center;">{{airport.name}}</h2>
        <p style="text-align:center;">Codigo: {{airport.id}}</p>
        <p style="text-align:center;">Nombre: {{airport.place}}</p>
        <material-button style="margin: 25px;float: right;" class="material-button-raised material-button-colored" ng-click="edit($event,airport)">Editar</material-button>
        <material-button style="margin: 25px;float: right;" class="material-button-raised material-button-colored" ng-click="delete($event,airport)">Eliminar</material-button>
      </material-card>
    </div>
    
    
  </material-content>

